/*
    CSS For Seraphim Guild Website
    Author: Ned Basilio
    Date: 07-29-2026 mm-dd-yyyy

*/

*, *::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
}

/* Reset Styles */
body, header, nav, main, footer, h1, h2, h3, div, img, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

/* General Styles */
body {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #9900ff;
    text-decoration: none;
}

a:visited {
    color: #9900ff;
}

header {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

header a {
    display: inline-block;
}

header a img {
    display: block;
    padding: 0.3em;
    height: auto;
    width: 100%;
}

#hero img {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    display: block;
    border-top: solid 2px #C8A563;
    border-bottom: solid 2px #C8A563;
}

main {
    clear: left;
    background-color: #e6e6e6;
    padding: 2%;
    font-size: 1.25em;
}

#intro p {
    font-size: 1em;
    text-align: left;
    padding: 1em;
}


/* CSS styles for navigation bar */
nav {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    text-align: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #000;
    text-align: left;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav li a:visited {
    color: #000;
}

nav li a:hover {
    color: #9900ff;
}

/* CSS styles for footer */
footer {
    padding: 0.8em 0;
    background-color: #5a3895;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #F9FAFD;
    padding: 0.2em;
}

footer p a {
    color: #F9FAFD;
}

/* Styles for span elements */

.highlight {
    color: #9900ff;
    text-decoration: none;
}

.small-text {
    font-size: 0.75em;
}

/* Code below is for index.html */

#intro {
    background-color: #fff;
    border-top: solid 2px #C8A563;
    border-bottom: solid 2px #C8A563;
    margin-bottom: 1em;
    padding: 1%;
}

.index-content {
    background-color: #fff;
    border-top: solid 2px #C8A563;
    border-bottom: solid 2px #C8A563;
    padding: 1%;
}

.index-content dt {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
}

.index-content dd {
    margin-left: 1.4em;
    margin-bottom: 1em;
    font-size: 0.8em;
}

.index-content dd::before {
    content: "- ";
}

.index-content dt::before {
    content: "• ";
    color: #9900ff;
}


/* Code below is for about.html */

#seraphims, #ophanims {
    text-align: center;
    clear: both;
    overflow: auto;
    margin: 0 auto;
}

#seraphims img, #ophanims img {
    width: 40%;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
}

.single-character {
    align-items: center;
    background-color: #F9FAFD;
    float: left;
    margin: 2% 2%;
    border: solid 2px #C8A563;
    width: 46%;
    min-width: 280px;
}

.single-character p {
    font-size: 1em;
    padding: 1em;
}

.single-character h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
}

.single-character img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 2px #C8A563;
    border-bottom: solid 2px #C8A563;
    padding: 1em;
}

.about-content {
    background-color: #fff;
    content: border-box;
    margin: 0 2%;
    padding: 2%;
    text-align: left;
    border-top: solid 2px #C8A563;
    border-bottom: solid 2px #C8A563;
}

.about-content p {
    font-size: 1em;
    padding: 1em;
}

.about-content a {
    text-decoration: none;
}

/* Code below is for contact.html */

#contact {
    text-align: center;
    background-color: #fff;
    border-top: solid 2px #C8A563;
    border-bottom: solid 2px #C8A563;
    padding: 1%;
}

#contact a {
    color: #9900ff;
    text-decoration: none;
}

#contact p {
    font-size: 1em;
    margin-bottom: 1em;
    text-align: left;
}

.map {
    width: 100%;
    border: solid 4px #3FAAB7;
}


/* Code below is for guild-news.html */

#guild-news-intro {
    padding: 1em;
    overflow: auto;
}

#guild-news-intro p {
    font-size: 1em;
    text-align: left;
}

.news-section {
    width: 98%;
    padding: 1em;
    overflow: auto;
    background-color: #fff;
    border: solid 2px #C8A563;
    margin: 1em 0;
}

.news-section h3:hover {
    color: #9900ff;
}

.news-date {
    color: gray;
    font-size: 0.75em;
    text-align: left;
}


/* Code below is for recruit-form.html */

#recruit-content {
    background-color: #fff;
    width: 100%;
    padding: 1em;
    border-top: solid 2px #C8A563;
    border-bottom: solid 2px #C8A563;
}

#recruit-content ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 2em;
}

#recruit-content p {
    clear: both;
}

.main-requirements {
    float: left;
    font-size: 1em;
    padding: 1em;
}

.priority-characters {
    float: left;
    font-size: 1em;
    padding: 1em;
    clear: right;
}

